body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


main {
    flex: 1;
}


.hero {
    height: 420px;
    background-image: url("images/home.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 30px;
    font-weight: bold;
}

.cards-section {
    background: #e5e5e5;
    padding: 60px 0;
}

.card {
    border-radius: 8px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

form {
    max-width: 500px;
    margin: auto;
}

.custom-btn {
    background-color: black;
    color: white;
    border: none;
}

.custom-btn:hover {
    background-color: #333;
    transform: scale(1.03);
}


footer {
    margin-top: auto;
}

footer a:hover {
    text-decoration: underline;
}